<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="30"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef width="30"> Edit </th>
        <td mat-cell *matCellDef="let element">
          <a  class="btn btn-outline-warning border-3">
            <img src="../../../../../assets/edit.png" width="25px" height="25px" style="cursor: pointer;">
          </a>
        </td>
      </ng-container>
          <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" appDelete [id]="element.id" (callback)="getRoles()" controller="roles">
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChange()" [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  