<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <div class="form-group">
        <label for="userName">Kullanıcı Adı *</label>
        <input #txtUserNameOrEmail type="text" class="form-control" id="userName" placeholder="Enter User Name or Email">
        <small  class="form-text text-muted invalid-feedback">***</small>
      </div>
      <div class="form-group">
        <label for="password">Şifre *</label>
        <input #txtPassword type="password" id="password" class="form-control" placeholder="Password">
      </div>
      <br>
      <!-- <div asl-google-signin-button type='icon' size='medium'></div> -->
      <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
      <br>
      <button type="submit" class="btn btn-primary d-flex m-auto" style="margin-top: 5px;" (click)="login(txtUserNameOrEmail.value,txtPassword.value)">Login</button>
      <a class="btn btn-secondary d-flex m-auto" style="margin-top: 5px; margin-left: 5px;" routerLink="/password-reset">Şifremi Unuttum</a>
  </div>
  <div class="col-3"></div>
</div>

