<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <app-navbar></app-navbar>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!-- <app-footer></app-footer> -->
  </div>
  <div class="col-md-2"></div>
</div>



<button class="btn btn-primary" (click)="m()">Tıkla</button>
