<mat-form-field class="product-create">
  <mat-label>Name</mat-label>
  <input matInput #txtName type="text">
</mat-form-field>

<mat-form-field class="product-create">
  <mat-label>Stock</mat-label>
  <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>

<mat-form-field class="product-create">
  <mat-label>Price</mat-label>
  <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>


<button mat-raised-button class="button" (click)="create(txtName,txtStock,txtPrice)">Create Product</button>


<app-file-upload [options]="fileUploadOptions"></app-file-upload>
