<h2 mat-dialog-title>Product Images</h2>
<div mat-dialog-content class="mat-typography">

  <!-- <app-file-upload [options]="options"></app-file-upload> -->
  <!-- <file-upload [options]="options"></file-upload> -->
  <!-- Bu daha sonradan eklenecek olan bir parcadir. -->
  <div mat-card class="product-image-card" *ngFor="let image of images">
    <div mat-card-header>
      <input type="radio" name="img" (click)="showCase(image.id)" >
    </div>
    <img mat-card-image [src]="image.path">
    <div mat-card-content>
    </div>
    <div mat-card-actions>
      <button mat-button style="background-color: darkgray; color: white;" (click)="deleteImage(image.id,$event)">Delete</button>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</div>
